<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}"></head>
<body>
<nav th:replace="~{layout :: page_navbar}"></nav>
<div class="container my-3">
    <h1 class="text-center mb-3">List of Food Items in Fridge</h1>
    <a class="btn btn-primary" href="fooditems/create">New Food Item</a>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Expiry Date</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="fooditem : ${fooditems}">
            <td th:text="${fooditem.id}">ID</td>
            <td th:text="${fooditem.name}">Name</td>
            <td th:text="${fooditem.description}">Description</td>
            <td th:text="${fooditem.expiryDate}">Expiry Date</td>
            <td th:text="${fooditem.quantity}">Quantity</td>
            <td style="white-space: nowrap">
            <a class="btn btn-primary btn-sm" th:href="@{/fooditems/edit(id=${fooditem.id})}">
                Edit
            </a>
                <a class="btn btn-danger btn-sm" th:href="@{/fooditems/delete(id=${fooditem.id})}"
                                                  onclick="return confirm('Are you sure?')">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>



</div>
<footer th:replace="~{layout :: page_footer}"></footer>
</body>
</html>